/* this indicates a tracked change */
.dictionarySection {
	position: relative;
	background: #e3f4f3;
	margin-top: 5rem;
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
	border-radius: 2rem;
	min-height: 60vh;
}

.dictionarySection h3 {
	text-transform: capitalize;
	font-size: 3rem;
	margin: 5px 0;
}

.dictionarySection h2 {
	padding: 0;
}

.dictionarySection ul {
	background: #fafafa;
	margin-top: 20px;
	padding: 10px;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.dictionarySection li {
	position: relative;
	width: calc(40% - 15px);
}
.dictionarySection li:nth-of-type(odd){
	margin: 15px 15px 15px 10%;
}

.dictionarySection li:nth-of-type(even){
margin: 15px 10% 15px 15px;
}

.dictionarySection p {
	font-size: 1.6rem;
	
	position: relative;
}

.dictionarySection .wordType {
	position: relative;
	font-style: italic;
	font-weight: bold;
}

.dictionarySection p::first-letter:after {
	content: ":";
	font-size: 1.6rem;
	position: relative;
	color: black;
}
