.leaderBoard{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: transform .3s
    cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
}

.leaderBoard.hide{
    transform: translate3d(-100vw, 0, 0);
}

.leaderBoard.show{
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
}