.leaderBoard {
	position: fixed;
	width: 30vw;
	height: 70vh;
    /* top: 99.5px; */
    top: 124.5px;
	left: 0;
	transition: all 0.3s cubic-bezier(0, 0.52, 0, 1);
	z-index: 1000;
	background: #e3f4f3;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 2px 2px 4px 1px #d7d7d7;
}

.leaderBoard:after {
	content: "Leaderboard";
	position: absolute;
	right: -179px;
	top: 0;
	font-size: 3rem;
	border: none;
	background: #e3f4f3;
	font-family: "Josefin Slab", serif;
	border-radius: 20px 20px 0 0;
	letter-spacing: 0.5rem;
	color: black;
	transform: rotate(90deg);
	transform-origin: left bottom;
	padding: 5px 5px 0;
	letter-spacing: 1px;
	box-shadow: 2px -4px 4px 1px #d7d7d7;
}

.leaderBoard h2 {
	position: relative;
}

.leaderBoard ul {
	border-radius: 10px;
	overflow-y: scroll;
	height: 55vh;
	box-shadow: inset 0 0 4px grey;
}

.leaderBoard.hide {
    transform: translateX(-100vw)
}

.leaderBoard.show {
    transform: translateX(0vw)
}

/* General Form */
.leaderForm {
	padding: 10px;
	margin-bottom: 3%;
	font-size: 2rem;
}

/* Submit Button */
.leaderButton {
	font-size: 2.3rem;
}

/* Leaderboard/Dictionary */
.leaderboard {
	padding: 0 3.5% 2%;
	background: #e3f4f3;
	border-radius: 2rem;
	width: 80%;
	margin: 0 auto;
}
.leaderboardHeader {
    text-align: center;
    font-size: 2.7rem;
    font-family: "Josefin Slab", serif;
    letter-spacing: 1px;
    text-transform: uppercase;
	letter-spacing: 0.5rem;
}

.leaderboardList {
	background: white;
	padding: 3%;
	border-radius: 2rem;
}

.leaderboardItems {
	display: flex;
	font-size: 1.75rem;
	padding: 10px;
    margin: 5px auto;
    position: relative;
}

.leaderboardItems:not(:last-of-type):after {
    content: " ";
    width: 80%;
    border-bottom: 4px double #e3f4f3;
    position: absolute;
    bottom: 0;
    left: 10%;

}

.leaderboardItems p {
    text-transform: capitalize;
}

.leaderboardItem {
	width: 100%;
}

.leaderboardItem:nth-child(2) {
	text-align: center;
}

.leaderboardItem:nth-child(3) {
	text-align: right;
}

.leaderboardSpan {
    font-weight: bold;
    text-transform: capitalize;
}

/* Toggle button */
.toggleBttn {
	position: fixed;
	top: 99.5px;
	left: 0;
	transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28);
	font-size: 3rem;
	font-family: "Josefin Slab", serif;
	border: none;
	background: #e3f4f3;
	border-radius: 20px 20px 0 0;
	letter-spacing: 0.5rem;
	color: black;
	transform: rotate(90deg);
	transform-origin: left bottom;
	padding-top: 5px;
	letter-spacing: 1px;
	height: auto;
	box-shadow: 2px -2px 4px 1px #d7d7d7;
}

.toggleBttn:hover {
	cursor: pointer;
	transform-origin: left bottom;
	transform: scaleX(1.1) rotate(90deg);
}

.buttonContainer button:hover {
	transform: scale(1.1);
}
