.questionBox {
    position: relative;
    background: #e3f4f3;
    margin-top: 5rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 2rem;
    min-height: 60vh;
    transition: all 0.2s;
}

.questionBox.correct {
    background-color: #cfff31;
}

.questionBox.incorrect {
    background-color: #ff5964;
}

h2 {
    font-size: 4rem;
}

.scoreCounter {
    top:2.5rem;
    position: absolute;
    align-self: flex-end;
    font-size: 2.5rem;
}

.timer {
    position: absolute;
    top:2.5rem;
    align-self: flex-start;
    font-size: 2.5rem;
}
.buttonParent {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;
}

.progressBar {
    width: 80%;
    margin: 0 auto 2.5rem;
    position: relative;
    background: #6056f9;
    height: 3rem;
    border-radius: 30px;
}

span {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    bottom: 0.5rem;
    max-width: calc(100% - 1rem);
    background: #cfff31;
    border-radius: 2rem;
    padding: 1rem;
    transition: width 0.5s ease;
}