/* Results Page Styling */
/* General */
.resultsCont {
	text-align: center;
	background: #e3f4f3;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}

.resultsHeader {
	font-size: 5rem;
	padding: 15px;
	letter-spacing: 0.3rem;
	font-family: "Josefin Slab", serif;
	text-transform: capitalize;
}

/* Score Display */
.resultsScore,
.addToDictionList {
	font-family: "Lato", sans-serif;
	font-size: 2.5rem;
	margin: 3% auto;
	padding: 5px;
	width: 50%;
	background: white;
	border-radius: 2rem;
}

/* General Form */
.resultsForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin-bottom: 3%;
	font-size: 2rem;
	background: white;
	border-radius: 2rem;
	width: 50%;
	margin: 3% auto;
	padding: 5px;
}

.resultsInput {
	margin: 10px;
}

.addToDictionList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.rightWordsList,
.wrongWordsList {
	width: calc(50% - 10px);
}

.addToDictionItem {
	width: 100%;
	margin: 10px 0;
	font-size: 2rem;
	text-align: center;
}

.addToDictionItem span {
  font-weight: bold;
  margin: 0 8px;
}

.addToDictionList h3 {
	text-transform: capitalize;
	font-weight: normal;
	width: 100%;
}

.addToDictionList h4 {
	font-weight: normal;
	text-transform: capitalize;
  width: calc(50% - 10px);
  margin: 10px 0px;
  text-decoration: underline;
}

.rightWords,
.wrongWords {
  display: flex;
  justify-content: center;
  text-align: justify;
	background: #cfff31;
	padding: 5px 10px;
	border-radius: 2rem;
	text-transform: capitalize;
	box-shadow: 2px 2px 4px #8a9695, inset 0 0 0 4px #e3f4f3;
}

.wrongWords {
	background: #ff5964;
}

.rightWords:hover,
.wrongWords:hover {
	cursor: pointer;
	box-shadow: 2px 2px 4px #7c8786, inset 0 0 0 4px white;
}

.score {
	font-size: 3rem;
}

/* Submit Button */
.resultsButton {
	font-size: 2.3rem;
	border-radius: 2rem;
	transition: all 0.2s;
}

.resultsButton:hover {
	color: white;
	background: #6056f9;
	transform: scale(1.1, 1.1);
}
