/* Results Page Styling */
/* General */
.resultsCont {
    text-align: center;
    background: #e3f4f3;
    border-radius: 2rem;
    margin: 5rem 0;
    padding-bottom: 5rem;
    
  }
  
  .resultsHeader {
    font-size: 3.5rem;
    padding: 20px;
    letter-spacing: .3rem;
    font-family: 'Josefin Slab', serif;
    text-transform: capitalize;
  }
  
  /* Score Display */
  .resultsScore {
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    margin: 3% auto;
    padding: 2rem;
    width: 50%;
    background: white;
    border-radius: 2rem;
  }
  
  .leaderDictionList {
    background: white;
    width: 50%;
    margin: 0 auto;
    border-radius: 2rem;
  }
  
  .leaderDictionItem {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    font-weight: bold;
  }
  
  .rightWords {
    color: #cfff31;
  }
  
  .wrongWords {
    color: #ff5964;
  }
  
  .score {
    font-size: 3rem;
  }