/* Results Page Styling */
/* General */
.resultsCont {
    text-align: center;
    background: #e3f4f3;
    border-radius: 2rem;
    
  }
  
  .resultsHeader {
    font-size: 5rem;
    padding: 15px;
    letter-spacing: .3rem;
    font-family: 'Josefin Slab', serif;
    text-transform: capitalize;
  }
  
  /* Score Display */
  .resultsScore {
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    margin: 3% auto;
    padding: 5px;
    width: 40%;
    background: white;
    border-radius: 2rem;
  }

  /* General Form */
.resultsForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	padding: 10px;
	margin-bottom: 3%;
  font-size: 2rem;
  background: white;
  border-radius: 2rem;
}

.resultsInput{
  margin: 10px;
}
  
  .leaderDictionList {
    background: white;
    width: 50%;
    margin: 0 auto;
    border-radius: 2rem;
  }
  
  .leaderDictionItem {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    font-weight: bold;
  }
  
  .rightWords {
    color: #cfff31;
  }
  
  .wrongWords {
    color: #ff5964;
  }
  
  .score {
    font-size: 3rem;
  }

  /* Submit Button */
.resultsButton {
	font-size: 2.3rem;
	border-radius: 2rem;
	transition: all 0.2s;
} 

.resultsButton:hover {
	color: white;
	background: #6056f9;
	transform: scale(1.1, 1.1);
} 