article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* stripping styles */

body,
a,
p,
h1,
h2,
h3,
ul,
li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.wrapper{
    width: 80%; 
    max-width: 1000px;
    margin: 0 auto;
}

li{
    list-style: none;
}


/* base styling */

img{
  width: 100%;
  display: block;
}

html{
    font-size: 62.5%;
    height: 70%;
}

/* header styles */

header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

h1{
  font-family: 'Josefin Slab', serif;
  font-size: 5rem;
  text-align: center;
  padding: 10px;
  border: 3px dashed #cfff31;
  padding: 20px;
  letter-spacing: .5rem;
  text-transform: uppercase;
}

h2.headerText{
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 20px;
  letter-spacing: .5rem;
  text-transform: capitalize;

}

/* Buttons */
.mainButton,
.wordButton,
.leaderButton {
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  border: 2px solid black;
  background: none;
  letter-spacing: .5rem;
  color: black;
}

.wordButton:hover,
.wordButton:focus,
.mainButton:hover,
.mainButton:focus {
  background: #6056f9;
  color: #e3f4f3;
}

.leaderButton:hover,
.leaderButton:focus
{
  background: #cfff31;
}

.leaderButton:active,
.mainButton:active,
.wordButton:active {
  background: #6056f9;
}

.definition {
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
  letter-spacing: .5rem;
}

/* Main Page */
.homophoneItalic {
  font-style: italic;
  font-weight: bold;
}

.homophoneDef {
  font-size: 1.5rem;
  letter-spacing: .2rem;
  text-align: center;
}

/* Instructions */
.instructions {
  font-size: 2rem;
  margin-top: 3%;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 5rem 0;
}

.buttonContainer button {
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    border: 2px solid black;
    background: none;
    letter-spacing: .5rem;
    color: black;
    text-transform: uppercase;
}

.buttonContainer .levelSelected {
    background: #6056f9;
    color: white;
}

/* ============ */
.buttonContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5rem 0;
}

.buttonContainer button {
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  border: 2px solid black;
  background: none;
  letter-spacing: .5rem;
  color: black;
  text-transform: uppercase;
}

.buttonContainer .levelSelected {
  background: #6056f9;
  color: white;
}
/* ======================= */

/* Leaderboard/Results Page Stylings */
/* General */
.leaderDiv {
  text-align: center;
  background: #e3f4f3;
  border-radius: 2rem;
  margin: 5rem 0 5%;

  font-family: "Lato", sans-serif;
}

.leaderHeader {
  font-size: 3.5rem;
  padding: 20px;
  letter-spacing: .5rem;
}

/* Score Display */
.leaderScore {
  font-size: 2.5rem;
  margin: 3% auto;
  border: 3px dashed #6056f9;
  padding: 20px;
  width: 50%;
  /* Not sure what people think of the text shadow */
  text-shadow: #cfff31 5px 3px;
}

.score {
  font-size: 3rem;
}

/* General Form */
.leaderForm {
  padding: 10px;
  margin-bottom: 3%;
  font-size: 2rem;
}

/* Submit Button */
.leaderButton{
  font-size: 2.30rem;
}


/* Leaderboard/Dictionary */
.leaderboard {
  padding: 0 3.5% 2%;
  background: #e3f4f3;
  border-radius: 2rem;
  width: 80%;
  margin: 0 auto;
}
.leaderboardHeader {
  font-size: 2.7rem;
  padding: 20px;
  letter-spacing: .5rem;
}

.leaderboardList {
  background: white;
  padding: 3%;
  border-radius: 2rem;
}

.leaderboardItems{
  display: flex;
  /* justify-content: space-between; */
  font-size: 1.75rem;
  padding: 10px;
  margin: 30px auto;
}

.leaderboardItem {
  width: 100%;
}

.leaderboardItem:nth-child(2) {
  text-align: center;
}

.leaderboardItem:nth-child(3) {
  text-align: right;
}

.leaderboardSpan {
  font-weight: bold;
}


/* Preloader */
.preloader {
  text-align: center;
  font-size: 2rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 20px;
  letter-spacing: .5rem;
}