.toggleBttn{
    position: fixed;
    top: 99.5px;
    left:0;
    transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    border: 2px solid black;
    border-bottom: none;
    background: none;
    border-radius: 20px 20px 0 0;
    letter-spacing: .5rem;
    color: black;
    transform: rotate(90deg);
    transform-origin: left bottom;
}

.toggleBttn:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1) rotate(90deg);
}